<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><%= title %></title>
    <link href="/output.css" rel="stylesheet">
</head>
<body>
    <h1><%= title %></h1> 
    <p>Welcome to your EJS page!</p>
    <h2>This is my attempt at ssr without a framework</h2>
    <button class="btn btn-primary">Button</button>
</body>
</html>